body{
    margin: auto;
    background-color:rgb(208, 238, 37);
    
   
    }
#zomato{
    text-align: center;
    margin-left: 350%;
    font-weight: bold;
    font-size:50px;
   
}
a{
    text-decoration: none;
}
#header{
    height: 60px;
    width: 100%;
    border:2px solid none;
    background-color: #e5c02d;
    
}
#icon{
    float: left;
    margin-left: 1%;
    margin-top: -1%;
}
#social {
    float: right;
}
.slogo{
    height: 50px;
    width: 50px;
}
#login{
    width: 100%;
    height:40px;
    border: 2px solid none;
    background-color: #e5c02d;
}
#old{
    width: 5%;
    height:40px;
    border: 2px solid none;
    float:left;
    margin-left:76%;
}

#old>img{
    height: 100%;
    width:100%;
}
#new>img{
    height: 100%;
    width:100%;
}
#new{
    width: 5%;
    height:40px;
    border: 2px solid none;
    float:right;

}

.Headingtext{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid none;
    background-color:none;
    height: 40px;
    margin-left:0%;
}
#content{
height: 800px;
width: 80%;
border:2px solid none;
margin-left:10%
}
#filterdiv{
    height: 500px;
    width: 20%;
    border:2px solid white;
    float: left
}
#contentdiv{
    height: 700px;
    width: 70%;
    margin-left: 2%;
    border:2px solid none;
    float: left;
}
#filter{
    text-align: center;
    font-size: 20px;
}
.cuisinefilter{
    margin-left: 0%;
}
#radio{
    margin-left: 10%;
}
.costfilter{
    text-align: center;
    font-size: 20px;
}
#city{
    margin-left:5%;
}
#apply{
    text-align:center;
    margin-left: 40%;
}
#menu1{
    height: 300px;
    width: 90%;
    margin-left: 5%;
    border:2px solid white;
    float: none;
    margin-top: 2%;
}
#menu2{
    height: 300px;
    width: 90%;
    margin-left: 5%;
    border:2px solid white;
    float: none;
}
#pageview{
    height: 60px;
    width: 90%;
    margin-left: 5%;
    border:2px solid none;
    float: left;
    text-align: center;
    margin-top: 5%;
}
#page{
    height:20px;
    width: 2%;
    float:left;
    margin-left: 9%;
    margin-top: -3%;
    border:2px solid black;
}
.num{
    
    background-color:rgb(239, 245, 185);
}
.arrow,.arrow2{
    background-color:rgb(214, 235, 25);
}
/* #page2{
    height:20px;
    width: 1%;
    border:2px solid black;
} */
#ph{
    height: 20px;
    width: 100%;
}
#tile1{
    width:49%;
    height: 300px;
    border: 2px solid none;
    background-color:rgb(208, 238, 37);
    float: left;
}
#tile2{
    width:49%;
    height: 300px;
    border: 2px solid none;
    background-color:rgb(208, 238, 37);
    float: right;
}
#tile1>img{
    width:100%;
    border-radius: 20%;
    margin-top: 50px;

    
}
button{
    margin-left: 5%;
    background-color:orange;
}
#star{
    color:orange;
}
#offer1{
    height:20px;
    width:25%;
    border:2px solid black;
    float: left;
    text-decoration: line-through;
    background-color:rgb(211, 83, 83);
}
#offer2{
    height:20px;
    width:25%;
    border:2px solid black;
    float: left;
    margin-left:10px;
    background-color:rgb(27, 221, 27);
}
.types{
    height: 200px;
    width: 80%;
    border:2px solod black;
}

/*footercss*/
#footer{
    height: 120px;
    width: 100%;
    border:4px groove none;
    background-color:#e5c02d;
    border-top:2%;
    
}

.footDiv{
    height: 66px;
    width: 33%;
    border-right: 2px solid black;
    margin-top: -1%;
    float:left;
    text-align: center;
}
#foottext{
    text-align: center;
}

.footDiv>p{
    margin-left: 2%;
}
.noborder{
    border:none;
    float:right;
}